/ %div.alert-content
/   %div.alert-content__alert-message チャットグループが作成されました。

%div.side-content
  %div.user
    %div.user__user-content
      %p.user__user-content__user-name amira
      %a.user__user-content__new-group{:href => ""}
        %i.fa.fa-pencil-square-o
      %a.user__user-content__user-setting{:href => ""}
        %i.fa.fa-cog
  %div.groups
    %div.groups__group
      %p.groups__group__group-name sample
      %p.groups__group__last-message test
      %p.groups__group__group-name sample
      %p.groups__group__last-message test
      %p.groups__group__group-name sample
      %p.groups__group__last-message test

%div.main-content
  %div.current-group
    %div.current-group__current-group-name sample
    %a.current-group__edit-group-name{:href => ""} edit
    %div.current-group__members
      %div.current-group__members__member-name MEMBER: amira
  %div.messages
    %div.messages__background
    %div.messages__message
      %p.messages__message__post-user-name amira
      %p.messages__message__posted-date 2017/04/07 11:48
      %p.messages__message__message-text test_1
      %p.messages__message__post-user-name amira
      %p.messages__message__posted-date 2017/04/07 11:48
      %p.messages__message__message-text test_2
      %p.messages__message__post-user-name amira
      %p.messages__message__posted-date 2017/04/07 11:48
      %p.messages__message__message-text test_3
      %p.messages__message__post-user-name amira
      %p.messages__message__posted-date 2017/04/07 11:48
      %p.messages__message__message-text test_4

  %div.create-message
    %form.create-message__send-form{:method => "post"}
      %input.create-message__send-form__input-form{:type => "text", :placeholder => "type a message", :name => "message"}
        %i.fa.fa-image
      %button.create-message__send-form__send-button{:type => "submit"} Send
