%div.side-content
  %div.user
    %p.user__user-name
      = current_user.name
    %div.user__new-group
      = link_to '', new_group_path, class: 'fa fa-pencil-square-o'
    %div.user__user-setting
      = link_to '', edit_user_registration_path, class: 'fa fa-cog'

  %div.groups
    %div.groups__group-list
    - @groups.each do |group|
      = render partial: 'group', locals: {group: group}
