.user{
  background-color: #253141;
  height: 15%;
    &__user-content{
      height: 5%;
      padding: 15% 0;
        &__user-name{
        color: $mainWhite;
        font-size: 16px;
        font-weight: bold;
        padding-left: 20px;
        float: left;
        }
        &__new-group{
        font-size: 20px;
        float: left;
        padding-left: 165px;
        }
        .fa-pencil-square-o{
          color: $mainWhite;
          text-decoration: none;
        }
        &__user-setting{
        font-size: 20px;
        float: right;
        padding-right: 20px;
        }
        .fa-cog{
          color: $mainWhite;
          text-decoration: none;
        }
    }
}
