.alert-info{
  background-color: #38AEF0;
  color: $mainWhite;
  text-align: $alert_align;
  height: $alert_height;
}

.alert-danger{
  background-color: #808000;
  color: $mainWhite;
  text-align: $alert_align;
  height: $alert_height;
}

