html, body{
  height: 100%;
  width: 100%;
}

.side-content{
  height: 100%;
  width: 300px;
  float: left;
}

.main-content{
  box-sizing: border-box;
  height: 100%;
  width: calc( 100vw - 300px );
  float: left;
}

.user{
  background-color: #253141;
  height: 15%;
  padding: 0 20px 0;
  position: relative;
    &__user-name{
    color: $mainWhite;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 20px;
    }
    &__new-group{
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 230px;
    }
    .fa-pencil-square-o{
      color: $mainWhite;
      text-decoration: none;
    }
    &__user-setting{
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 260px;
    }
    .fa-cog{
      color: $mainWhite;
      text-decoration: none;
    }
}

.groups{
  background-color: #2f3e51;
  height: 85%;
    &__group-list{
      &__group{
        position: relative;
        padding-bottom: 40px;
        .group-link{
          text-decoration: none;
          display: block;
          padding: 20px;
        }
        .group-link:hover{
          background-color: #008B8B;
        }
        &__group-name{
          color: $mainWhite;
          font-size: 15px;
        }
        &__last-message{
          color: $mainWhite;
          font-size: 11px;
          position: absolute;
          top: 45px;
          left: 20px;
        }
      }
    }
}
